/* Header */

.header {

    /* Header top */

    &__top {
        padding: 15px 0;
        box-shadow: 0px 2px 4px #ccc;
    }

    &__top-links {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        @media (width < 520px) {
            justify-content: center;
        }
    }

    &__top-link {
        margin-right: 15px;
        font-size: 14px;

        &--phone {
            margin-right: auto;
            @media (width < 520px) {
                width: 100%;
                order: 3;
                margin-top: 10px;
            }
            a {
                position: relative;
                padding-left: 20px;
                text-decoration: none;
                transition: opacity 0.4s;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        a:hover {
            text-decoration: none;
        }
    }

    /* Header middle */
    &__middle {
        padding: 15px 0;
    }

    &__bottom {
        position: relative;
        padding: 15px 0;
        background-color: var(--light-gray);
    }

    &__navbar {
        position: absolute;
        top: 5px;
    }
}
