/* Header */

.header {

    /* Header top */

    &__top {
        padding: 15px 0;
        box-shadow: 0px 2px 4px #ccc;

        &-wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__top-links {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        @media (width < 520px) {
            justify-content: center;
        }
    }

    &__top-link {
        margin-right: 15px;
        font-size: 14px;


        &:last-child {
            margin-right: 0;
        }

        a:hover {
            text-decoration: none;
        }
    }
    &__working-time {
        color: var(--gray3);
        span {
            display: block;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
    &__phone {

        &-link {
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            color: var(--primaryColor);
            margin-bottom: 3px;
        }
        
        &-callback {
            font-size: 14px;
            color: var(--gray3);
            text-decoration: underline dotted;
            
            &:hover {
                text-decoration: none;
            }
        }
    }
    /* Header middle */
    &__middle {
        padding: 15px 0;
    }

    /* Header bottom */
    &__bottom {
        padding: 10px 0;
        background-color: var(--light-gray2);

        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__promotion {
        width: 90px;
    }
    &__search {
        width: 80%;

    }
    &__actions {
        display: flex;
        justify-content: flex-end;
    }
}
