/* Menu */

.menu {

    background-color: var(--gray2);
    border-radius: 8px;

    &__title {
        display: grid;
        grid-template-columns: 30px 1fr;
        align-items: center;
        grid-gap: 5px;
        padding: 10px;
        font-size: 22px;
        color: #ffffff;
        text-decoration: none;


        &:hover {
            color: #ffffff;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: var(--white);
        box-shadow: 0 2px 5px rgb(0 0 0 / 30%);

        &--lvl2 {
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            width: 100%;
            background-color: var(--white);
            z-index: 100;
            &:hover {
                display: block;
            }
        }

    }
    &__item {
        position: relative;
        &:not(:last-child) {
            border-bottom: 1px solid var(--gray);
        }


    }
    &__link {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        font-size: 14px;
        color: var(--black2);
        text-decoration: none;

        &:hover {
            color: var(--primaryColor);

            .menu__link-icon {
                fill: var(--primaryColor);
            }
        }
        &:hover ~ .menu__list--lvl2 {
            display: block;
        }

        &-icon {
            fill: var(--black)

        }


    }

}