/* User actions */

.user-actions {

    &__link {
        position: relative;
        padding-left: 20px;
        font-size: 14px;
        font-weight: 600;
        
        &:hover {
            text-decoration: none;
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -6px;
            background-repeat: no-repeat;
            background-position: center;
            width: 18px;
            height: 18px
        }
        &--login::before {
            background-image: url("../images/login.svg");
        }
        &--reg::before {
            background-image: url("../images/reg.svg");
        }
    }
}